.container-wrapper 
    width: 100%
    max-width: 1920px

.left-sidebar
    background-color: lightcoral

.right-sidebar
    background-color: lightgoldenrodyellow

.container-cordinates,
.container-date
    height: 50px
    margin-top: 30px;

.container-cordinates
    height: auto
    padding: 10px 15px
    border: 2px solid #000
    border-radius: 5px

.container-map 
    height: 500px
    margin-top: 50px
    margin-bottom: 50px
    border: 2px solid #000
    border-radius: 3px

.map
    height: 100%

.container-cordinates > span
    font-weight: bold

.box-coord 
    display: flex

.longitude-box,
.latitude-box 
    display:flex

.longitude-box 
    margin-right: 20px

.container-time 
    width: 100%
    display: flex
    flex-direction: column
    padding: 10px 15px
    border: 2px solid #000
    border-radius: 5px
    margin-top: 30px

.line-time 
    display: flex

.line-time > span,
#time 
    font-weight: bold

#time,
#count
    padding-left: 5px

.person-container 
    width: 100%
    height: auto
    display: flex
    justify-content: center
    margin-top: 50px
    border: 2px solid #000
    border-top-left-radius: 5px
    border-top-right-radius: 5px

#person 
    width: 100%
    height: auto
    padding: 20px 0
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background: #b3deff

#person-box 
    width: 95%
    display: flex
    align-items: center
    padding: 10px
    margin-top: 10px
    border: 2px solid #000
    border-radius: 5px

#person-box:first-child
    margin-top: 0

.icon 
    width: 40px
    height: 40px

.name 
    margin-left: 20px

.amount-person-container 
    width: 100%
    height: auto
    display: flex
    padding: 10px 15px
    margin-bottom: 20px
    border: 2px solid #000
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    border-top: 0

.amount-person-container span:nth-child(2) 
    margin-right: 5px

